






.headerbox{
  background-color:#000;
  padding:30vh;
}

.perspective{
  color:white;
  text-align:center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
 
}


@keyframes animate
{
    0%
    {
      transform: translate(0, -50%,);
    }
  
    100%
    {
      transform: translate(-50%, -50%,);
    }
  
}


.fullscreen1{
 
}

/*
 .fixed {
  height:400px;
  color: white;
}

, .default {
  background: none;
  color: black;
}
 .white {
  background: white;
  height:500px;
  color: black;
}
 .blue {
  background: blue;
  height:400px;
  color: white;
}

 .fixed {
  height:800px;
  color: white;
}*/
.goodpage{
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 50%, #ffffff 100%);

}


/* -------------------Bad place animation---------------------------*/

.badplace2 {
    -webkit-animation: tracking-in-expand 20s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 20s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-in-expand {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

.badplace {
    -webkit-animation: tracking-out-contract 8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: tracking-out-contract 8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}




/*---------------------------------------------------------

/*----------------SCROLLING TEXT--------------------------------*/


.scroll-left {
 height: 700px;  
 overflow: hidden;
}
.scroll-left h2 {


 /* Apply animation to this element */  
 -moz-animation: scroll-left 3s linear infinite;
 -webkit-animation: scroll-left 3s linear infinite;
 animation: scroll-left 7s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

/*------------------------------------------------*/

.homepage {
border: 3px solid #73AD21;
text-align:center;
width: 100%;
display: block;
margin:auto;
height:150vh;
}

.fullscreen1 {
padding-bottom:300px;
}

.fullscreen2, .fullscreen3, .fullscreen4, .fullscreen5, .fullscreen6, .fullscreen7, .fullscreen8, .fullscreen9, .fullscreen10   {
border: 3px solid #73AD21;
text-align:center;
width: 100%;
display: block;
margin:auto;
padding-top:430px;
padding-bottom:430px;
}


/*

.fullscreen2{
background-color:#FCFCFC;
}

.fullscreen3{
background-color:#F9F9F9;
}

.fullscreen4{
background-color:#F7F7F7;
}

.fullscreen5{
background-color:#F4F4F4;
}

.fullscreen6{
background-color:#F2F2F2;
}

.fullscreen7{
background-color:#EFEFEF;
}

.fullscreen8{
background-color:#EDEDED;
}

.fullscreen9{
background-color:#EAEAEA;
}

.fullscreen10{
background-color:#E8E8E8;
}



border: 3px solid #73AD21;
width: 100%;
text-align:center;
padding:10px;
height: 100vh;
width: 50%;
margin:auto;
}*/

/*------------Choice Links---------------*/

.choice1{
    display:grid;
    grid-template-columns:1fr 1fr;
   /* padding-bottom:80px;*/
    }
.choice1 a{
    color:#000;
    }  
    
.choice1 a:hover{
    font-size:150px;
    }  
.choice1 a:visted{
    color:#000;
    }       

/*------------Body Styles---------------*/




/*------------Type---------------*/

h1{
    font-family: jaf-lapture-subhead, serif;
    font-weight: 700;
    font-style: normal;
    font-size:80px;
    text-align:center
    }

h2{
    font-family: jaf-lapture, serif;
    font-weight: 700;
    font-style: normal;
    font-size:70px;
    text-align:center
    
    }

h3{
    font-family: jaf-lapture, serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    line-height:1em;
    text-align:center
    }

.intro{
    padding:40px;
    border: 3px solid #73AD21;
}

.perspective{ 
    padding:40px;
    }

.how{ 
    font-size:50px;
    padding:40px;
    margin:40px;
    }


.badday{
    font-size:300px;
    font-family: bureau-grot-extra-compressed, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
   /* padding:30px;*/
    line-height: 3em;
   /* height: 150vh;*/

    }


p{  font-family: jaf-lapture, serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align:center;
    }

/*------------Links and Buttons---------------*/

.choice1 a{
    text-decoration: none;
    font-family: jaf-lapture, serif;
    font-weight: 700;
    font-style: normal;
    font-size:30px;
    text-align:center;
    padding:30px;
    }


.choice1 a:visted{
    color:#000;
    }

.choice1 a:hover{

    font-size:80px;
    }






/*------------Footer---------------*/

.footer{
    color: #ccc;
    margin:auto;
    width:100%;
    text-align: center;
    font-size: 12px;
    }


/*-----------Media Queries---------------*/





@media only screen and (max-width:1024px) {

.badday{
    font-size:120px;
    }

p{
    font-size:26px;
    }   
   
}



@media only screen and (min-width:1024px) {

.badday{
    font-size:300px;
    }




@media only screen and (min-width:1200px) {
 




