
.page2{
  width:100%;
}

/*------------Quote---------------*/

.quote,
{
  margin: auto;
  z-index:99;
}


.quotebox1 {
  background-color: #fff;
  height: 100vh;
  border-top: solid #000 1px;
}

.quotebox2 {
  background-color: #000;
  height: 100vh;
}

.quotebox3 {
  background-color: #fff;
  height: 100vh;
}


/*------------Overallpage---------------*/


/*------------Type---------------*/

h1 {
  font-family: farnham-display, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center
}

.italic {
  font-family: farnham-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 80px;
  text-align: center
}

h2 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}

.h2-italic {
  font-family: farnham-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  text-align: center
 }

h3 {
  font-family: farnham-display, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  line-height: 1em;
  text-align: center
}

h4 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}

h5 {
  font-family: farnham-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 90px;
  color: #FF8900;
}

.good-h5 {
  font-style: normal;
}

p {
  font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  writing-mode: vertical-lr;
  text-align: center;
}

.upsidedown {
  transform: rotate(180deg);
  color: #FF8900;
  display: none;
}

.quote {
  color: #000;
  text-align: center;
  padding-top: 100px;
}

.how {
  font-family: farnham-display, serif;
  font-weight: 400;
  font-style: italic;
}



.goodness {
  text-decoration: underline;
}

.real-1,
.real-2,
.real-3 {
  font-size: 60px;
}

.reality,
.creates,
.attitude {
  font-weight: 800;
}



.redo{
  font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding:30px;
  font-size:100px;
  color:#000;
  }


/*-----------DIVS----------------*/

.header-div {
  display: grid;
  grid-template-columns: 10% 90%;
  height: 100vh;
}

.title {
  border-right: solid black 1px;
  padding: 30px;
}

.perspective {
  margin: auto;
}

.quote-box1 {
  background-color: ;
  height: 50vh;
  border-top: black solid 1px;
  width: 100%;
}

.questionbox {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  border-top: black solid 1px
}

.question {
  border: solid black 1px;
  margin: auto;
  padding: 10px;
}

.terrible-box {
  border-right: solid 1px black;
  text-align: right;
  padding-top: 600px;
}

.great-box,
.reverse-box,
.home-box {
  border-left: solid 1px black;
  padding-top: 600px;
}


.question-section {
  text-align: center;
  font-size: 3em;
}


/*-----------PAGE 2----------------*/
.blue{color:blue;}

.page2-1,
.page2-3,
.page2-4,
.page2-5,
.page2-6,
.page2-7,
.page2-8,
.page2-9,
.page2-10
{
  display: grid;
  border:red solid 2px;
  grid-template-columns: 1fr;
  height: 200vh;
  padding: 40px;
  width:100%;
}


.page2-1{
  background-image: url("../images/bad-type.gif");
  height: 150vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.page2-2{
  display:grid;
  grid-template-columns:1fr;
  height:100vh;
  width:100%;
  border:blue solid 2px;
}


.good-strike{
  margin:auto;
  }

.redo-div {
  margin:auto;
  }

.pg2-text{
  margin:auto;
  line-height:5em;
  border-left:solid black 1px;
  border-top:solid black 1px;
  padding:10px;
}

.because{
  width:100%;
  text-align:center;
  padding-top:40px;
  font-size:30px;
}



               /*-----------PAGE 3----------------*/

.page3-1,
.page3-2,
.page3-3,
.page3-4,
.page3-5,
.page3-6,
.page3-7,
.page3-8,
.page3-9 {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  padding: 40px;
  line-height: 6em;
}

.page3-10 {
  display: grid;
  height: 100vh;
  padding: 40px;
  line-height: 6em;
}

.page3-1 {
  background-color: #FFE3EB;
}

.page3-4 {
  background-color: #3333FF;
}

.page3-6 {
  background-color: #FF8900;
}

.line-because {
  display: grid;
  grid-template-columns: 70% 30%;
}


  .pg3-million, .because-scroll{
    color:#FF8900;
  }


  .beyond, .attitude-blue, .its-all, .theres-scroll{
    color:#3333FF;
  }

  .pink-text{
    color:#FFE3EB;
  }

  .not-true{
    text-decoration: underline #FF8900;
  }

  .page3-6{
    color:#fff;
  }

/*------------Links and Buttons---------------*/

.great,
.terrible,
.reverse,
.home-link :visited {
  color: #000;
}

a:hover {
  color: red;
}

.terrible {
  font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  writing-mode: vertical-lr;
  z-index: 100;
  color: #000;
}

.great,
.reverse,
.home-link {
  font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  writing-mode: vertical-lr;
  z-index: 100;
  color: #000;
}



/*-----------LINES---------------------------*/



/* -- triple threat -- */

u,
u.triple {
  border-bottom: 24px double #3333FF;
  line-height: 2em;
}


/*------------Footer---------------*/

.footer {
  color: #ccc;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 12px;
}


/*------------Images---------------*/

.sad-img{
  width:100%;
  padding-top:30px;
  margin:auto;

}

.down-arrow-img{
  width:100%;
  margin:auto;
  padding-top:20px;
}
/* -------------------Bad place animation---------------------------*/


/*----------------SCROLLING TEXT--------------------------------*/


/*------------------------------------------------*/


/*-----------Media Queries---------------*/

@media only screen and (max-width:1024px) {
  @media only screen and (min-width: 1024px) {
    @media only screen and (min-width:1200px) {

