





/*----------------SCROLLING TEXT--------------------------------*/


.scroll-left {
 height: 700px;  
 overflow: hidden;
 position: relative;
}
.scroll-left h2 {


 /* Apply animation to this element */  
 -moz-animation: scroll-left 3s linear infinite;
 -webkit-animation: scroll-left 3s linear infinite;
 animation: scroll-left 7s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

/*------------------------------------------------*/


.fullscreen2, .fullscreen3, .fullscreen4  {
border: solid blue 2px;
padding:10px;
}

.fullscreen1{
    text-align:center;
    height: 500vh;
    width: 100%;
}

.fullscreen2{
    text-align:center;
    height: 150vh;
    width: 100%;
    padding-top:50%;
}

.fullscreen4{
    text-align:left;
    width: 100%;
    height: 150vh;
}


.rightwrong{
    text-align:center;
}

.goodbad{
    text-align:right;
    padding-right:50px;
}

.posneg{
    text-align:left;
    padding-left:50px;
}

.intro{
    padding:100px;
    text-align:center;
    }

   
.badplace{
    padding:200px;
}

/*------------Choice Links---------------*/

.choice1{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding-bottom:80px;
    }
.choice1 a{
    color:#000;
    }  
    
.choice1 a:hover{
    font-size:150px;
    }  
.choice1 a:visted{
    color:#000;
    }       

/*------------Body Styles---------------*/

/*
.fullscreen1{
  height: 120vh;
  padding: 40vh;
}

.fullscreen1, .fullscreen2, .fullscreen3, .fullscreen4  {
  width: 100%;
  height: 100vh;
  padding: 40vh;
}

.fullscreen1{
    background-color:;
    } 

.fullscreen2{
    background-color:#F5F4DF;
    }  

.fullscreen3{
    background-color:#F8F6C8;
    } 

.fullscreen4{
    background-color:#F9F6A9;
    }  


/*------------Type---------------*/

h1{
    font-family: jaf-lapture-subhead, serif;
    font-weight: 700;
    font-style: normal;
    font-size:80px;
    }

h2{
    font-family: jaf-lapture, serif;
    font-weight: 700;
    font-style: normal;
    font-size:70px;
    
    }

h3{
    font-family: jaf-lapture, serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    line-height:1em;
    text-align:center
    }

blockquote{
    width:40%;
    font-family: jaf-lapture, serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    line-height:1em;
    text-align:right;
    }

.how{ 
    font-size:100px;
    }


.badday{
    font-size:300px;
    font-family: bureau-grot-extra-compressed, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    padding:30px;
    line-height: 3em;
    height: 150vh;

    }

.everyday:hover{
     font-size:80px;
    }


p{  font-family: jaf-lapture, serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align:center;
    }

/*------------Links and Buttons---------------*/

.choice1 a{
    text-decoration: none;
    font-family: jaf-lapture, serif;
    font-weight: 700;
    font-style: normal;
    font-size:30px;
    text-align:center
    }


.choice1 a:visted{
    color:#000;
    }

.choice1 a:hover{

    font-size:80px;
    }


/*------------Place Holder---------------*/

/*
.placeholder{
    background color: #E7E0DE;
    margin:auto;
    width:100%;
    text-align: center;
    font-size: 12px;
    padding-bottom:30px;
}



/*------------Footer---------------*/

.footer{
    color: #ccc;
    margin:auto;
    width:100%;
    text-align: center;
    font-size: 12px;
    }


/*-----------Media Queries---------------*/





@media only screen and (max-width:768px) {

.badday{
    font-size:120px;
    }

p{
    font-size:26px;
    }   
   
}



@media only screen and (min-width:1024px) {




@media only screen and (min-width:1200px) {
 




/*

.button{
 
 background-color: rgba(255,0,0,0);
 padding: 12px 16px;
 border-radius:12px;
 color:rgba(255,0,0,0);
 text-decoration:none;
 border:2px solid red;

}


.button:hover{
    animation-name: button-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
}


@keyframes button-hover{
    from{background-color: rgba(255,0,0,0)
        color:white;
        }
    to{background-color: rgba(255,0,0,0)
        }
}

